.footer {
  background-color: #fff;
  padding: .5rem 0;

  &__container {
    display: flex;
    justify-content: center;
  }

  .about-author-container {

    * + * {
      margin-left: .3rem;
    }
  }
}