.news-article-card {
  border: none;
  transition: all .3s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &:hover {
  cursor: pointer;
  text-decoration: none;
  transform: translateY(-.7rem);
  }
}
